<form action="/api/blogPost" method="post">
    <fieldset>
      <legend>Post Form</legend>
      <label for="title">Post title</label>
      <input name="title" id="title" type="text" />
      <textarea name="content" id="content">
          Post body
      </textarea>
      <input type="submit" value="Submit" />
    </fieldset>
  </form>